footer {
  background: $botticelli;
  //	min-height    : 20vh;
  padding-top: 20px;
  padding-bottom: 30px;
  color: $limed-spruce;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer .widget {
  list-style: none;
}

footer ul li a:link,
footer ul li a:visited {
  color: $blue-bayoux !important;
}

footer ul li a:hover {
  color: $international-orange !important;
  text-decoration: none;
}


#strap .social {text-align: right;
}

#strap .social .nav-link {
  text-align: right;
  padding-left: 0;
}

#strap .social a:link,
#strap .social a:visited {
  color: $blue-bayoux !important;
}

#strap .social a:hover {
  color: $international-orange !important;
}

#strap {
  background: $gallery;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
  vertical-align: middle;
}

#strap .copyright {
  text-align: center;
  color: $blue-bayoux !important;
  padding-top: 10px;
}
