.section {
	background-size    : cover!important;
	background-repeat  : no-repeat;
	background-position: center;
}

#button {
	display         : inline-block;
	background-color: $international-orange;
	width           : 50px;
	height          : 40px;
	text-align      : center;
	border-radius   : 4px;
	position        : fixed;
	bottom          : 30px;
	right           : 30px;
	transition      : background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity         : 0;
	visibility      : hidden;
	z-index         : 1000;
}

#button .fa-chevron-up {
	color    : white;
	font-size: 40px;

}

#button:hover {
	cursor          : pointer;
	background-color: #333;
}

#button:active {
	background-color: #555;
}

#button.show {
	opacity   : 1;
	visibility: visible;
}
