@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans:400,400i,700,700i');

body {
	font-family: 'Noto Sans', sans-serif;
  color: $limed-spruce
}

h1, h2, h3, h4, h5 {
	font-family: 'Fjalla One', sans-serif;

}

h1 {margin-bottom:20px}
